@model helpone_helpdesk_sys.Models.Chamados.Chamado


@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h2 class="my-3">Cadastrar chamado</h2>
		<hr class="mb-3" />

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<label for="Subtopico_TopicoID">Em que podemos ajudar?</label>
			@Html.DropDownList("TopicoID", (IEnumerable<SelectListItem>)ViewBag.TopicoID, "selecione topico", htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Subtopico.TopicoID, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label for="SubtopicoID">Qual problema está tendo?</label>
			@Html.DropDownList("SubtopicoID", (IEnumerable<SelectListItem>)ViewBag.SubtopicoID, "selecione subtopico", htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.SubtopicoID, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label for="Titulo">Título do chamado</label>
			@Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label for="ConteudoForm">Descrição do problema</label>
			<textarea class="form-control" id="ConteudoForm" name="ConteudoForm" rows="3"></textarea>
			@Html.ValidationMessageFor(model => model.Conteudos.Single().ConteudoChamado, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<input type="submit" value="Cadastrar chamado" class="btn btn-primary btn-info btn-lg mt-4" />
		</div>
	</div>
}
@Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-secondary btn-sm" })


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
