@model IEnumerable<helpone_helpdesk_sys.Models.Chamados.Chamado>

@{
	ViewBag.Title = "Consultar chamados";

	string[] active = new string[] { "", "", "", "", "", "" };
	switch (ViewBag.StatusFilterParm)
	{
		case "aguardando":
			active[0] = "active";
			break;
		case "cancelados":
			active[1] = "active";
			break;
		case "respondidos":
			active[2] = "active";
			break;
		case "finalizados":
			active[3] = "active";
			break;
		case "finalizados-feedback-pos":
			active[4] = "active";
			break;
		default:
			active[0] = "";
			break;
	}
}

<section class="content">
	<div class="row py-5">
		<div class="col-12 text-center text-sm-left">
			<h2 class="mb-4 border-bottom pb-3">Consultar chamados</h2>
			<div class="d-flex justify-content-between align-items-center">
				<h4>Meus chamados</h4>
				@Html.ActionLink("Abrir chamado", "Abrir", new { area = "" }, new { @class = "btn btn-info btn-sm" })
			</div>
			<div class="filtro border-top border-right border-left p-2 mt-2">
				<button class="btn btn-link text-secondary float-left" type="button" data-toggle="collapse" data-target="#filterBtns" aria-expanded="false" aria-controls="filterBtns">
					<i class="fas fa-filter"></i>
				</button>
				<div class="collapse float-left pt-1" id="filterBtns">
					@Html.ActionLink("Todos", "Index", new { filter = ViewBag.AllFilterParm }, new { @class = "btn btn-info btn-sm " + ViewBag.ActiveClassAllFilter })
					@Html.ActionLink("Aguardando Resposta", "Index", new { filter = "aguardando" }, new { @class = "btn btn-info btn-sm " + active[0] })
					@Html.ActionLink("Respondido", "Index", new { filter = "respondidos" }, new { @class = "btn btn-info btn-sm " + active[2] })
					@Html.ActionLink("Finalizado", "Index", new { filter = "finalizados" }, new { @class = "btn btn-info btn-sm " + active[3] })
					@Html.ActionLink("Feedback Positivo", "Index", new { filter = "finalizados-feedback-pos" }, new { @class = "btn btn-info btn-sm " + active[4] })
					@Html.ActionLink("Cancelado", "Index", new { filter = "cancelados" }, new { @class = "btn btn-info btn-sm " + active[1] })
				</div>
			</div>
				<table class="table table-hover border-right border-left border-bottom">
					<thead class="thead-light">
						<tr>
							<th scope="col">
								@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IdSortParm })
							</th>
							<th scope="col">
								@Html.ActionLink("Titulo do chamado", "Index", new { sortOrder = ViewBag.TituloSortParm })
							</th>
							<th scope="col">
								@Html.ActionLink("Data abertura", "Index", new { sortOrder = ViewBag.DateSortParm })
								@*Depois voltar o tipo de data para DATE em vez de string*@
							</th>
							<th scope="col">Status</th>
							<th scope="col">Equipe de Atend.</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
								<td><a href="@Url.Action(ViewBag.TipoAcaoUsuario, "Chamado", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Titulo)</a></td>
								<td>@Html.DisplayFor(modelItem => item.DataCriacao)</td>
								<td>@Html.DisplayFor(modelItem => item.Status)</td>
								<td>@Html.DisplayFor(modelItem => item.EquipeAtendimento)</td>
							</tr>
						}
					</tbody>
				</table>
			</div><!-- ./ artigo-header -->
	</div>
</section>
