@model helpone_helpdesk_sys.Models.Equipe

@{
	ViewBag.Title = "Details";
}

<h2 class="mt-4">Details</h2>

<div>
	<h4 class="my-3">Equipe: #@Html.DisplayFor(model => model.Id) - @Html.DisplayFor(model => model.OMSituada)</h4>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Nome</th>
		</tr>
		@foreach (var item in Model.ListaMembros)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Login)
				</td>
			</tr>
		}
	</table>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
