@model IEnumerable<helpone_helpdesk_sys.Models.Equipe>
@using helpone_helpdesk_sys.Models.Enums;

@{
	ViewBag.Title = "Index";
}

<div class="col-12 text-center text-sm-left">
	<h2 class="my-4 border-bottom pb-3">Gerenciar Equipes</h2>
	<div class="list-eq-dev">
		<!-- Lista Equipe Desenvolvimento -->
		<h4 class="mb-4 mt-5">Equipes de Desenvolvimento</h4>
		<table class="table table-hover border-right border-left border-bottom">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">OM Localizada</th>
					<th scope="col">Qtd. integrantes</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					if (item.TipoEquipe == EnumTipoEquipe.Desenvolvimento)
					{
						<tr>
							<th scope="row">@item.Id</th>
							<td><a href="@Url.Action("Detalhes", new { id = item.Id })">@item.OMSituada</a></td>
							<td>@item.ListaMembros.Count()</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div><!-- /. Lista Equipe Desenvolvimento -->
	<div class="list-eq-supp">
		<!-- Lista Equipe Suporte -->
		<h4 class="mb-4 mt-5">Equipes de Suporte</h4>
		<table class="table table-hover border-right border-left border-bottom">
			<thead class="thead-light">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">OM Localizada</th>
					<th scope="col">Qtd. integrantes</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					if (item.TipoEquipe == EnumTipoEquipe.Suporte)
					{
						<tr>
							<th scope="row">@item.Id</th>
							<td><a href="@Url.Action("Detalhes", new { id = item.Id })">@item.OMSituada</a></td>
							<td>@item.ListaMembros.Count()</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div><!-- /. Lista Equipe Suporte -->
</div><!-- /. content-header -->
